body{
    background-color: red;;
}
.services-container{
    flex-direction: column;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home{
    height: 370px;
    flex-direction: column;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
.hello{
    flex-direction: column;
}